.characters-list {
    display: flex;
    overflow-x: scroll;
    width: calc(100vw);
}

.character {
    padding-right: 15px;
}

.character-preview {
    border: outset #65763D 5px;
}

.character-preview-wrapper {
    padding-top: 15px;
}