.Collapsible {
    border: black solid 4px;
    background-color: #65763D;
}

.Collapsible__contentOuter {
    background-color: #263c57;
    color: #CAB796;
}

.Collapsible__trigger {
    font-size: 30pt;
    cursor: pointer;
    color: #CAB796;
}

.back {
    font-size: x-large;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.portal {
    width: 70px;
}

img:active {
    transform:  rotateY(180deg);
}

.collaps-wrapper {
    border: solid #83653B 2px;
}