.episodes-list {
    padding-top: 10px;
    display: inline-flex;
    overflow-x: scroll;
    width: calc(100vw);
}

.season {
    text-align: left;
}

.season-header {
    font-size: larger;
    font-weight: bolder;
}